<%- include("templates/header") %> 
    <div class="row mb-3 text-center">
        <h3 class="mt-3">404 - Page not found</h3>
        <img class="img-fluid" src="/hmm.gif" alt="Hmm">
    </div>
<%- include("templates/footer") %>