<%- include("templates/header") %>
    <main class="form-signin w-100 m-auto text-center">
        <div class="d-flex gap-2 justify-content-center py-5">
            <form action="/loggingin" method="post">
                <h1 class="h3 mb-3 fw-normal">Sign In Here!</h1>
                <div class="form-floating">
                    <input name="email" type="email" class="form-control" id="floatingInput"
                        placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating">
                    <input name="password" type="password" class="form-control" id="floatingPassword"
                        placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>
                <button class="w-100 btn btn-lg btn-primary mt-3" type="submit">Sign In</button>
            </form>
        </div>
    </main>
<%- include("templates/footer") %>