<%- include("templates/header") %>
    <div class="text-center">
        <h2><%= helpMSG %></h2>
        <a href="/signup">
            <button type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">
                Try Again
            </button>
        </a>
    </div>
<%- include("templates/footer") %>